@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px; 
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px blueviolet;
}

h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

div {
	background-color: lightblue;
	width: 100px;
	height: 100px;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    border: 3px solid blueviolet;
    border-radius: 10px;
    
}

p {
    font-family: 'Poppins', sans-serif;
    color:blueviolet;
    line-height: 1.1;
    text-align: center;
    
}
